[submodule "repo/script.fentastic.miki.helper"]
	path = repo/script.fentastic.miki.helper
	url = https://github.com/Mikifp/script.fentastic.miki.helper
[submodule "repo/skin.fentastic.miki"]
	path = repo/skin.fentastic.miki
	url = https://github.com/Mikifp/skin.fentastic.miki
