[submodule "repo/skin.fentastic.miki"]
	path = repo/skin.fentastic.miki
	url = https://github.com/Mikifp/skin.fentastic.miki
[submodule "repo/script.fentastic.helper.miki"]
	path = repo/script.fentastic.helper.miki
	url = https://github.com/Mikifp/script.fentastic.helper.miki
